<h2>Product Inventory</h2>
<button routerLink="/add" class="btn btn-primary">Add Product</button>

<igx-grid [data]="products" #grid1 [autoGenerate]="false" height="500px" width="100%">

  <!-- Name -->
  <igx-column field="name" header="Name"></igx-column>

  <!-- Price -->
  <igx-column field="price" header="Price"></igx-column>

  <!-- Quantity -->
  <igx-column field="quantity" header="Quantity"></igx-column>

  <!-- Category Dropdown -->
  <igx-column field="categoryId" header="Category">
    <ng-template igxCell let-cell="cell">
      <select [(ngModel)]="cell.row.data.categoryId" (change)="updateCategory(cell.row.data)">
        <option *ngFor="let c of categories" [value]="c.id">
          {{ c.name }}
        </option>
      </select>
    </ng-template>
  </igx-column>

  <!-- Actions -->
  <igx-column header="Actions">
    <ng-template igxCell let-cell="cell">
      <button [routerLink]="['/edit', cell.row.data.id]">Edit</button>
      <button (click)="delete(cell.row.data.id)">Delete</button>
    </ng-template>
  </igx-column>
  <igx-paginator [perPage]="pageSize" [page]="page" [totalRecords]="totalCount" (pageChange)="onPageChange($event)"  (perPageChange)="onPageSizeChange($event)"></igx-paginator>
</igx-grid>